*{
    box-sizing: border-box;
}
html,body{
    height:100%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex:1;
    background-color:#1A1E30;
}
header{
    max-height:10vh;
    min-height: 10vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2a2b2d;
    color:white;
}


h1 {
    color:blue;
}

