*{
    box-sizing: border-box;
}
html,body{
    height:100%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex:1;
    background-color: #1A1E30;
    /* background-image: linear-gradient(to right, red , yellow); */
    /* background-image: linear-gradient(to right, #080808 , #432963); */
}
header{
    max-height:10vh;
    min-height: 10vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #222833; */
    background-color: #181c2f;
    /* background-color: #161a2f; */
    color:white;
}

a{
    text-decoration: none;
}
h1 {
    color:blue;
}

