aside{
    width: 120px;
    background-color: #1a30291c;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}



