nav>*{
    display:inline-flex;
}
aside>div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
aside>div>*{
    padding:7%;
}
aside>div>p{
    color:#E5E5E5;
    font-size:1.2em;
    text-align: center;
    
}

aside>div:hover {
background-color: #23408B;
}

#filter , #f{
    display: flex;
    align-items:stretch;
    height: 5vh;
    padding: 0.5%;
    background: #292D35;
    width:100%;
    justify-content: space-between;
}
#filter>form{
    display: flex;
    width: 24vw;
}

#filter>form>select{
    flex:0.4;
    margin: 0 0.75%;
    background: #2a2b2d;
    color: white;
}
.search{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search> input {
   width: 80%;
    border: 0;
    height: 100%;
    padding: 0;
    padding: 0 2%;
}
.search>i{
    width: 20%;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: inline-flex;
}
.logo{
    font-size: 2em;
    padding: 0.5%;
}
.social-media{
    width: 20vw;
    display: inline-flex;
    justify-content: flex-end;
}
.social-media>*{
    padding: 1% 4%;
    margin: 0 2%;
}
.container{
    width:100%;
}
.display-cards{
    padding:2%;

}


.quiz  {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0.5%;
    justify-content: center;
}
.quiz>p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.quiz>* {
    margin: 0 2%;
}
#f>p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
} 
 #f {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

/* display cards */

.display-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    padding: 0.5%;
}

.movie>section>img{
    max-width: 20vw;
    max-height: 20vw;
}
.movie>section>p{
    margin: 0 auto;
    color: whitesmoke;
    font-size: 2vh;
    max-width: 12vw;
    text-align: center;
}

/**************************************** active mode */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
 
  cursor: pointer;
  font-size: 18px;
}

.active, .btn:hover {
    background-color: rgb(49, 91, 226);
    color: white;
  }

/*******************************  zoom In Image   ***********/

#renenderImg:hover {
    transform: scale(1.1);
}

/**** details page *************************************************/

.singleImg {
    max-width: 40vw;
    max-height: 40vw;
}

#display {
    display: flex;
 
}

#display > #cont {
    
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#display>#cont > h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* #add {
    border-radius: 1%;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */
