nav>*{
    display:inline-flex;
}
aside>div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
aside>div>*{
    padding:7%;
}
aside>div>p{
    color:#E5E5E5;
    font-size:1.2em;
    text-align: center;
    
}

aside>div:hover {
background-color: #23408B;
}

#filter {
    display: flex;
    align-items:stretch;
    height: 5vh;
    padding: 0.5%;
    background: #292D35;
    width:100%;
}

#filter>select{
    margin: 0 1%;
    padding: 0 0.5%;
    background: #2a2b2d;
    color: white;
}
.search{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search> input {
    width:80%;
    border: 0;
    height: 100%;
    padding: 0;
    padding: 0 2%;
}
.search>i{
    width: 20%;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: inline-flex;
}
.logo{
    font-size: 2em;
    padding: 0.5%;
}
.social-media{
    width: 20vw;
    display: inline-flex;
    justify-content: flex-end;
}
.social-media>*{
    padding: 1% 4%;
    margin: 0 2%;
}
.container{
    width:100%;
}
.display-cards{
    padding:2%;

}

