nav>*{
    display:inline-flex;
}
aside>div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
aside>div>*{
    padding:7%;
}
aside>div>p{
    color:#E5E5E5;
    font-size:1.2em;
    text-align: center;
}

.logo{
    font-size: 2em;
    padding: 0.5%;
}
.social-media{
    width: 20vw;
    display: inline-flex;
    justify-content: flex-end;
}
.social-media>*{
    padding: 1% 4%;
    margin: 0 2%;
}