<aside>
    <div>
        <svg width="77" height="71" viewBox="0 0 77 71" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M77 35.5C77 15.8938 59.763 0 38.5 0C17.237 0 0 15.8938 0 35.5C0 55.1062 17.237 71 38.5 71H77V65.0833H59.7552C70.5191 58.5123 76.9953 47.4041 77 35.5ZM57.3584 59.4339C53.0581 62.3142 47.0378 61.436 43.9141 57.4694C40.7903 53.5042 41.7428 47.9545 46.043 45.0727C50.3448 42.1924 56.3636 43.0706 59.4873 47.0372C62.6126 51.0024 61.6586 56.5521 57.3584 59.4339ZM56.8853 20.6607C61.9406 19.1454 67.3703 21.6964 69.0136 26.3578C70.6554 31.0206 67.8888 36.0272 62.8335 37.5411C57.7782 39.0564 52.3485 36.5054 50.7051 31.844C49.0634 27.1826 51.8299 22.1745 56.8853 20.6607ZM38.5 5.91667C43.8154 5.91667 48.125 9.89048 48.125 14.7917C48.125 19.6928 43.8154 23.6667 38.5 23.6667C33.1846 23.6667 28.875 19.6928 28.875 14.7917C28.875 9.89048 33.1846 5.91667 38.5 5.91667ZM7.98637 26.3578C9.6297 21.6964 15.0594 19.1454 20.1147 20.6592C25.1701 22.1745 27.9366 27.1811 26.2949 31.8425C24.6515 36.5039 19.2218 39.0549 14.1665 37.5411C9.11116 36.0272 6.3446 31.0206 7.98637 26.3578ZM33.0859 57.4694C29.9622 61.436 23.9419 62.3142 19.6416 59.4339C15.3414 56.5521 14.3874 51.0024 17.5127 47.0372C20.6364 43.0721 26.6567 42.1924 30.957 45.0741C35.2572 47.9545 36.2097 53.5042 33.0859 57.4694ZM35.2917 35.5C35.2917 33.8663 36.7282 32.5417 38.5 32.5417C40.2718 32.5417 41.7083 33.8663 41.7083 35.5C41.7083 37.1337 40.2718 38.4583 38.5 38.4583C36.7282 38.4583 35.2917 37.1337 35.2917 35.5Z" fill="white"/>
        </svg>
        <p>Home</p>
    </div>
    <div>
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35 50.3708L53.025 61.25L48.2417 40.7458L64.1667 26.95L43.1958 25.1708L35 5.83333L26.8042 25.1708L5.83334 26.95L21.7583 40.7458L16.975 61.25L35 50.3708Z" fill="white"/>
        </svg>         
        <p>Top</p>
    </div>
    <div>
        <svg width="42" height="54" viewBox="0 0 42 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.5833 0.75H6.41668C3.20834 0.75 0.612511 3.375 0.612511 6.58333L0.583344 53.25L21 44.5L41.4167 53.25V6.58333C41.4167 3.375 38.7917 0.75 35.5833 0.75Z" fill="white"/>
        </svg>  
        <p>Library</p>
    </div>
    <div>
        <svg width="65" height="57" viewBox="0 0 65 57" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.4916 25.8507C37.2978 25.8507 41.1612 20.0529 41.1612 12.9275C41.1668 5.78117 37.2978 0 32.4916 0C27.7188 0 23.8443 5.78117 23.8443 12.9275C23.8443 20.0614 27.7189 25.8507 32.4916 25.8507Z" fill="white"/>
            <path d="M39.4457 27.9567H25.5598C23.0772 27.9567 21.0437 31.3531 21.0437 35.5192V56.3297C21.0437 56.5585 21.1218 56.7625 21.1302 56.9998H43.8671C43.8837 56.7627 43.948 56.5587 43.948 56.3297V35.5192C43.9563 31.3531 41.9228 27.9567 39.4457 27.9567Z" fill="white"/>
            <path d="M55.8115 32.0189C59.6693 32.0189 62.7628 27.3866 62.7628 21.6637C62.7628 15.9408 59.6693 11.3001 55.8115 11.3001C51.9815 11.3001 48.8825 15.9408 48.8825 21.6637C48.8742 27.3825 51.9817 32.0189 55.8115 32.0189Z" fill="white"/>
            <path d="M61.3876 33.7088H50.2604C48.2631 33.7088 46.6313 36.4307 46.6313 39.7813V56.4547C46.6313 56.6338 46.6899 56.8043 46.6983 57H64.9358C64.9442 56.8043 64.9999 56.6338 64.9999 56.4547V39.7813C65.0083 36.4307 63.3793 33.7088 61.3876 33.7088Z" fill="white"/>
            <path d="M9.18292 32.0189C13.0351 32.0189 16.1315 27.3866 16.1315 21.6637C16.1315 15.9408 13.0351 11.3001 9.18292 11.3001C5.35023 11.3001 2.25116 15.9408 2.25116 21.6637C2.25116 27.3866 5.35023 32.0189 9.18292 32.0189Z" fill="white"/>
            <path d="M14.7562 33.7088H3.61789C1.62629 33.7088 0 36.4307 0 39.7813V56.4547C0 56.6338 0.0585804 56.8043 0.0697017 57H18.3072C18.3156 56.8043 18.3687 56.6338 18.3687 56.4547V39.7813C18.3742 36.4307 16.7451 33.7088 14.7562 33.7088Z" fill="white"/>
        </svg>
        <p>About Us</p>
    </div>
</aside>