<aside>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Top Rated</a></li>
        <li><a href="">Library</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Feed</a></li>
    </ul>
</aside>