<section class = 'container'>
    <section id="filter">
        <select name="genre" id="genre">
            <option value="genre" disabled selected hidden >Genre</option>
            <option value="all">All</option>
            <option value="action">Action</option>
            <option value="drama">Drama</option>
            <option value="comedy">comedy</option>
            <option value="horror">Horror</option>
        </select>
    
    <select name="year" id="year">
        <option value="" disabled selected hidden >Year</option>
    
        <option value="">2020</option>
        <option value="">2019</option>
        <option value="">2018</option>
        <option value="">2017</option>
        <option value="">2016</option>
        <option value="">2015</option>
        <option value="">2014</option>
        <option value="">2013</option>
        <option value="">2012</option>
    
    </select>
    <select name="country" id="country">
        <option value="" disabled selected hidden >Country</option>
    
        <option value="">Germany</option>
        <option value="">UK</option>
        <option value="">USA</option>
        <option value="">italy</option>
        <option value="">Korea</option>
        <option value="">china</option>
        <option value="">france</option>
    </select>
    <div class="search">
        <input type="text" placeholder="Find Your favorite Movies" />
        <i class="fas fa-search"></i>
    </div>
    </section>                
    
<section class = 'display-cards'>
    
</section>
</section>