<header>
  <nav>
    <div class = 'logo'>
      <i class="fas fa-code"></i>
      <p>LOGO</p>
    </div>
    
    <ul class = 'social-media'>
      <li><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40 7.16798C38.5026 7.83204 36.9987 8.33334 35.332 8.50262C36.9987 7.50001 38.3333 5.83334 38.9974 3.99741C37.3307 5.00001 35.6641 5.66407 33.8346 6.00262C32.168 4.33595 30 3.33334 27.6693 3.33334C23.1641 3.33334 19.4987 6.99871 19.4987 11.4974C19.4987 12.168 19.4987 12.832 19.668 13.3333C12.832 13.0013 6.83594 9.83074 2.83203 4.83074C1.9987 6.00262 1.66667 7.50001 1.66667 8.99741C1.66667 11.8359 3.16406 14.3359 5.33203 15.8333C3.9974 15.6641 2.66927 15.332 1.66667 14.8307C1.66667 14.8307 1.66667 14.8307 1.66667 15C1.66667 18.9974 4.4987 22.3307 8.16406 23.0013C7.5 23.1641 6.83594 23.3333 6.0026 23.3333C5.5013 23.3333 5 23.3333 4.4987 23.1641C5.5013 26.4974 8.5026 28.8346 12.168 28.8346C9.33594 31.0026 5.83333 32.3307 1.9987 32.3307C1.33463 32.3307 0.664063 32.3307 0 32.168C3.66536 34.4987 8.0013 35.8333 12.5 35.8333C27.6693 35.8333 35.8333 23.3333 35.8333 12.5C35.8333 12.168 35.8333 11.8359 35.8333 11.4974C37.5 10.332 38.8346 8.83464 40 7.16798Z" fill="white"/>
        </svg>
        </li>
      <li><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M36.6667 20C36.6667 10.8 29.2 3.33334 20 3.33334C10.8 3.33334 3.33334 10.8 3.33334 20C3.33334 28.0667 9.06668 34.7833 16.6667 36.3333V25H13.3333V20H16.6667V15.8333C16.6667 12.6167 19.2833 10 22.5 10H26.6667V15H23.3333C22.4167 15 21.6667 15.75 21.6667 16.6667V20H26.6667V25H21.6667V36.5833C30.0833 35.75 36.6667 28.65 36.6667 20Z" fill="white"/>
        </svg>
        </i></li>
    </ul>
  </nav>
</header>