<header>
  <nav>
    <div>
      <img src="logo.png" alt="">
      HELLO
    </div>
    <div class="search">
      <input type="text" placeholder="Find Your favorite Movies" />
      <i class="fas fa-search"></i>
  </div>
    
    <ul>
      <li><img src="img/twitter" alt="">hello</li>
      <li><i class="fab fa-facebook-square"></i></li>
    </ul>
  </nav>
</header>