<header>
  <nav>
    <div>
      <img src="logo.png" alt="">
      HELLO
    </div>
    
    <ul>
      <li><img src="img/twitter" alt="">hello</li>
      <li><i class="fab fa-facebook-square"></i></li>
    </ul>
  </nav>
</header>