<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us </title>  
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <%- include('../partial/header') %>
        <main>
            <%- include('../partial/aside') %>
    

    <div class="title">
        <h1></h1>
        <p class="motto"></p>
    </div>
    <article class="Our-goal">
        <div class="our-mission">
            <h2>Our Mission</h2>
            <br>
            <P>
           
            </P>
        </div>

        <div class="our-vision">
            <h2>Our Vision</h2>
            <br>
            <P>
            </P>
        </div>



    </article>

    </div>

    <h3 class="meet-us">Meet the Develpors</h3>
    <div class="our-pic">

        <div class="team"> </div>

        <div class="containe">
            <img src="" alt="" class="image">
            <div class="middle">
                <div class="text"> </div>
            </div>
        </div>
        <div class="containe">
            <img src="" alt="" class="image">
            <div class="middle">
                <div class="text">  </div>
            </div>
        </div>
        <div class="containe">
            <img src="" alt="" class="image">
            <div class="middle">
                <div class="text">  </div>
            </div>
        </div>
        <div class="containe">
            <img src="" alt="" class="image">
            <div class="middle">
                <div class="text"> </div>
            </div>
        </div>
        <div class="containe">
            <img src="" alt="" class="image">
            <div class="middle">
                <div class="text"> Alaa </div>
            </div>
        </div>
        <div class="containe">
            <img src="" alt="" class="image">
            <div class="middle">
                <div class="text">  </div>
            </div>
        </div>
        <div class="containe">
            <img src="" alt="" class="image">
            <div class="middle">
                <div class="text">  </div>
            </div>

        </div>


    </div>
    <div class="team-des">
        <p>“ We are a group of young, passionate web developers who think that reading is a lifestyle and knowledge is a life-need. Thus, we decided to create this website with free resources to encourage self-learning.”

        </p>
    </div>
   



