<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us </title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <%- include('../partial/header') %>
        <main>
          

                <section class="about-section">
                    <div class="container2">
                        <h1 class="heading"> Meet the Team </h1>
                        <div class="card-wrapper" >
                            <div class="card">
                                <img src="https://img.freepik.com/free-photo/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223.jpg?size=626&ext=jpg" alt="" class="card-img">
                                <img src="https://ca.slack-edge.com/TNGRRLUMA-U01GP07V9CM-618cb7394521-512" alt="" class="profile-img2">
                                <h1>Elias</h1>
                                <p class="job-title" > Software Developer </p>
                                <p class="about">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eaque officiis eum dolores aliquid id praesentium quisquam maxime sit esse at minima inventore quae blanditiis similique magnam, eos vero sint.
                                </p>
                                <a href="#" class="btn" > contact </a>
                                <ul class="social-media2">
                                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github-square"></i></i> </a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></i> </a></li>

                                </ul>
                            </div>
                            <div class="card">
                                <img src="https://img.freepik.com/free-photo/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223.jpg?size=626&ext=jpg" alt="" class="card-img">
                                <img src="https://ca.slack-edge.com/TNGRRLUMA-U01HFSZT2CQ-295f1e680695-512" alt="" class="profile-img2">
                                <h1>Motasem</h1>
                                <p class="job-title" > Software Developer </p>
                                <p class="about">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eaque officiis eum dolores aliquid id praesentium quisquam maxime sit esse at minima inventore quae blanditiis similique magnam, eos vero sint.
                                </p>
                                <a href="#" class="btn" > contact </a>
                                <ul class="social-media2">
                                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github-square"></i></i> </a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></i> </a></li>

                                </ul>
                            </div>
                            <div class="card">
                                <img src="https://img.freepik.com/free-photo/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223.jpg?size=626&ext=jpg" alt="" class="card-img">
                                <img src="https://ca.slack-edge.com/TNGRRLUMA-U01GS89V35H-2c0c5a177cb4-512" alt="" class="profile-img2">
                                <h1>Mohamed Al-khateb</h1>
                                <p class="job-title" > Software Developer </p>
                                <p class="about">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eaque officiis eum dolores aliquid id praesentium quisquam maxime sit esse at minima inventore quae blanditiis similique magnam, eos vero sint.
                                </p>
                                <a href="#" class="btn" > contact </a>
                                <ul class="social-media2">
                                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github-square"></i></i> </a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></i> </a></li>

                                </ul>
                            </div>
                            <div class="card">
                                <img src="https://img.freepik.com/free-photo/abstract-polygonal-space-low-poly-dark-background-3d-rendering_7247-223.jpg?size=626&ext=jpg" alt="" class="card-img">
                                <img src="https://ca.slack-edge.com/TNGRRLUMA-U01HFSXMKBJ-36be2fb175c5-512" alt="" class="profile-img2">
                                <h1>Ahmad</h1>
                                <p class="job-title" > Software Developer </p>
                                <p class="about">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eaque officiis eum dolores aliquid id praesentium quisquam maxime sit esse at minima inventore quae blanditiis similique magnam, eos vero sint.
                                </p>
                                <a href="#" class="btn" > contact </a>
                                <ul class="social-media2">
                                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github-square"></i></i> </a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></i> </a></li>

                                </ul>
                            </div>
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1554189097-ffe88e998a2b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80" alt="" class="card-img">
                                <img src="https://ca.slack-edge.com/TNGRRLUMA-U01GRM5DFRR-f97a5c0ea588-512" alt="" class="profile-img2">
                                <h1>Alaa</h1>
                                <p class="job-title" > Software Developer </p>
                                <p class="about">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eaque officiis eum dolores aliquid id praesentium quisquam maxime sit esse at minima inventore quae blanditiis similique magnam, eos vero sint.
                                </p>
                                <a href="#" class="btn" > contact </a>
                                <ul class="social-media2">
                                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github-square"></i></i> </a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></i> </a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </section>
                <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

        </main>
